h1 {
    color: #ffffff;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-image: url(images/.png);
    height: 10px;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-position: top center;
    
}
@media (max-width: 480px) {
    h1 {
        color: #ffffff;
        font-family: "Noto Sans JP", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        background-image: url(images/.png);
        height: 10px;
        padding-top: 40px;
        background-repeat: no-repeat;
        background-position: top center;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
}


nav {
    background-color: rgba(30, 215, 96, 0.5);
    padding-top: 10px;
    padding-bottom: 10px font-family;
}

"Noto Sans JP",
sans-serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
}

nav ul {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 600;
    font-style: normal;
}

nav li {
    display: inline-block;
    margin-right: 40px;
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 600;
    font-style: normal;
    ;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 600;
    font-style: normal;

}

nav a:hover {
    color: #ffcc11;
}



#global-nav {
    position: fixed;
    /* 固定表示 */
    top: 0;
    /* 上部に配置 */
    left: 0;
    width: 100%;
    /* 幅を100%に設定 */
    background-color: rgba(30, 215, 96, 0.5);
    backdrop-filter: blur(10px);
    /* 背景色 */
    z-index: 9999;
    /* 他の要素より前面に表示 */
}

#global-nav {
    box-shadow: 0 5px 12px rgba(8, 8, 8, 0.2);
    /*影はここ*/

}

#global-nav .inner {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    /* 上下のパディングを調整 */
}

@media and (max-width: 480px) {
    #global-nav {
        position: fixed;
        /* 固定表示 */
        top: 0;
        /* 上部に配置 */
        left: 0;
        width: 100%;
        /* 幅を100%に設定 */
        background-color: rgba(30, 215, 96, 0.5);
        backdrop-filter: blur(10px);
        /* 背景色 */
        z-index: 9999;
        /* 他の要素より前面に表示 */
    }

    #global-nav {
        box-shadow: 0 5px 12px rgba(8, 8, 8, 0.2);
        /*影はここ*/

    }

    #global-nav .inner {
        max-width: 100%;
        margin: 0 auto;
        padding: 10px 0;
        /* 上下のパディングを調整 */
    }
}

.global-list {
    display: flex;
    justify-content: center;
    /* 中央揃え */
    list-style: none;
    margin: 0;
    padding: 0;
}

.global-list li {
    margin-right: 40px;
}

.global-list a {
    color: #ffffff;
    text-decoration: none;
    transform: scale(1.0);
    transition: 0.3s;
}

.global-list a:hover {
    box-shadow: 0 5px 12px rgba(8, 8, 8, 0.2);
    color: #00eeff;
    width: 20%;
    border-radius: 16px;
    transform: scale(1.8);
    transition: 0.3s;
}
.body {

    margin: 300px;

}

    

.zisu{
    color: #ffffff;
 margin-top: 10px;   
 size: 60px;
font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 600;
    font-style: normal;

}
.sns{margin-top: 2%;
   display: flex;
   width: 1200px;
   height: 300px;
   border-radius: 20px;
   background-color: rgb(53, 54, 53);
   box-shadow: 0 5px 12px rgba(8, 8, 8, 0.2);
    
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
        font-weight: 600;
        font-style: normal;
   padding: 10px;}
   .snsname{

    color: #ffffff;
    font-size: 30px;
font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 600;
    font-style: normal;
   }
   .zyotai{
    color: #ffffff;
    font-size: 20px;
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
        font-weight: 600;
        font-style: normal;
   } 
.koukoku {
    display: flex;
    justify-content: center;
    /* 中央揃え */
    list-style: none;
    margin: 0;
    padding: 0;
}

.koukoku li {
    margin-right: 40px;
}

footer {
    width: 70%;
    color: rgba(30, 215, 96, 0.5);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
        font-weight: 600;
        font-style: normal;
    padding: 10px;
    position: fixed;
    bottom: 0;
    margin-bottom 0px;
}




